{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["only-warn"],
  "rules": {
    "node/no-extraneous-import": [
      "error",
      {
        "allowModules": ["nanoid"]
      }
    ],
    "unicorn/prefer-node-protocol": 0,
    "unicorn/import-style": 0
  }
}
